<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">

    <default>

        <brewcraft_erp>

            <general>

                <enabled>1</enabled>

                <base_url>http://localhost:3000</base_url>

                <api_version>v1</api_version>

                <timeout>30</timeout>

            </general>

        </brewcraft_erp>

    </default>

</config>
